<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myBlog.mapper.EmpSalMapper" >
    <resultMap id="BaseResultMap" type="com.myBlog.model.EmpSal" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="totalWages" property="totalWages" jdbcType="INTEGER" />
        <id column="dayOff" property="dayOff" jdbcType="INTEGER" />
        <id column="insuranceFee" property="insuranceFee" jdbcType="INTEGER" />
        <id column="deduction" property="deduction" jdbcType="INTEGER" />
        <id column="netSal" property="netSal" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, name
  </sql>
    <select id="getAllEmpSal" resultMap="BaseResultMap">
    select * from empsal;
  </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from empsal
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from empsal
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.myBlog.model.EmpSal" >
    insert into empsal (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
    <!--<insert id="insertSelective" parameterType="com.myBlog.model.EmpSal" >
        insert into empsal
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>-->
   <!-- <update id="updateByPrimaryKeySelective" parameterType="com.myBlog.model.EmpSal" >
        update empsal
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>-->
    <update id="updateByPrimaryKey" parameterType="com.myBlog.model.EmpSal" >
    update empsal
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>